---
layout: main
---
			<h1>О нашей фирме</h1>
				<p>Наша фирма - <strong>ООО Пластмонтаж</strong> - с 1997 года выполняет полный комплекс работ по монтажу внутренних сантехнических систем любой сложности из современных и традиционных материалов:</p>
				<ul>
					<li>проектное и инженерное обеспечение</li>
					<li>консультационные услуги по подбору материалов и оборудования</li>
					<li>комплектация объекта материалами и оборудованием</li>
					<li>монтаж систем (в том числе автономных):
						<ul>
							<li>горячего и холодного водоснабжения</li>
							<li>радиаторного и напольного (&laquo;теплый пол&raquo;) отопления</li>
							<li>внутренней канализации</li>
						</ul>
					</li>
					<li>монтаж водонакопительных узлов в составе: емкостей для воды, насосных станций, необходимой автоматики</li>
					<li>монтаж систем водоочистки с автоматическим управлением</li>
					<li>монтаж индивидуальных котельных на различных видах топлива (газ, дизельное топливо, твердое топливо)</li>
					<li>проработка и воплощение нестандартных технических решений, исходя из конкретных задач, поставленных Заказчиком</li>
			</ul>
