<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{ page.description }}" />
	<title>Пластмонтаж / {{ page.title }}</title>
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
<div id="container">
	<div id="holder" class="clearfix">
		<div id="logo">
			<img src="/images/logo.png" alt="Пластмонтаж" width="268" height="50" />
		</div>
		<div id="navigation">
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/technologies">Технологии</a></li>
				<li><a href="/solutions">Решения</a></li>
				<li><a href="/portfolio">Портфолио</a></li>
				<li><a href="/contacts">Контакты</a></li>
				<li><a href="/jobs">Вакансии</a></li>
			</ul>
		</div>
		<div id="header"></div>
		<div id="content">
			{{ content }}
		</div>
	</div>
	<div id="footer">
		<span id="copyright">Дизайн от <a href="http://www.sitecreative.net" target="_blank">SiteCreative</a><br />Работает на <a href="http://code.google.com/appengine/" target="_blank">App Engine</a></span>
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/technologies">Технологии</a></li>
			<li><a href="/solutions">Решения</a></li>
			<li><a href="/portfolio">Портфолио</a></li>
			<li><a href="/contacts">Контакты</a></li>
			<li><a href="/jobs">Вакансии</a></li>
		</ul>
	</div>
</div>
</body>
</html>