<p>--- layout: main ---</p>
<h1>Реализованные проекты</h1>
<p align="JUSTIFY" style="text-indent: 1.27cm; margin-bottom: 0cm">Все, что мы изложили Вам в краткой форме, наработано нами на собственном опыте и проверено временем в ходе монтажа и эксплуатации различных сантехнических систем на объектах в Санкт-Петербурге и Ленинградской области, в работе на которых мы принимали участие:</p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm">- торгово-развлекательный комплекс &laquo;Бада-Бум&raquo; у станции метро &laquo;Озерки&raquo; (напольное отопление);</p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm">- торгово-развлекательный комплекс &laquo;Купеческий двор&raquo; у станции метро &laquo;Пионерская&raquo;;</p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm">- станция техобслуживания &laquo;Автоцентр &laquo;БИКАР&raquo;&raquo; в пер. Челиева, д. 16;</p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm">- бизнес-центр &laquo;Нева&raquo; на Большеохтинском пр., д. 1;</p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><font color="#000000">- офисное здание ОАО &laquo;ЛенГазСпецСтрой&raquo; на Пулковском ш., д. 30 (система отопления);</font></p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><font color="#000000">- гостиничный комплекс горнолыжного курорта &laquo;Красное Озеро&raquo; (Ленинградская область);</font></p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><font color="#000000">- супермаркет &laquo;ЛЭНД&raquo; на В.О., Морская наб., д. 9 (все сантехсистемы);</font></p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><font color="#000000">- супермаркет &laquo;ЛЭНД&raquo; на пр. Народного Ополчения, д. 6 (все сантехсистемы);</font></p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><font color="#000000">- мебельный центр &laquo;Нью-Форм&raquo; на В.О., Морская наб., д. 9 (все сантехсистемы);</font></p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><font color="#000000">- фитнес-центр &laquo;Фитнес </font><font color="#000000"><span lang="en-US">one</span></font><font color="#000000">&raquo; в ТЦ &laquo;Путиловский&raquo; на пр. Народного Ополчения, д. 6;</font></p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><font color="#000000">- административно-складское здание в п. Песочный, ул. Новостроек, д. 87 (все сантехсистемы);</font></p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><font color="#000000">- фитнес-центр Fitness Palace на Конногвардейском бул., д 21а;</font></p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><font color="#000000">- индивидуальные жилые дома и комплексы с бассейнами в Ленинградской области.</font></p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm">&nbsp;</p>
<p align="JUSTIFY" style="margin-bottom: 0cm; line-height: 0.42cm"><b>Гарантируем качество выполнения работ и ответственный подход к делу.</b></p>
<p><br>
	&nbsp;</p>
<p class="center"><strong>Лицензия СПБ № 78-025160, рег. № 06729/2001 от 19.07.2001 г.</strong></p>
