---
layout: main
---
			<h1>Реализованные проекты</h1>
			<p>Все, что мы попытались изложить Вам в краткой форме, наработано нами на собственном опыте и проверено временем в ходе монтажа и эксплуатации различных сантехнических систем на объектах в Санкт-Петербурге и Ленинградской области, в работе на которых мы принимали участие:</p>
			<ul>				<li>- торгово-развлекательный комплекс «Бада-Бум» у станции метро «Озерки» (напольное отопление);</li>
<li>- торгово-развлекательный комплекс «Купеческий двор» у станции метро «Пионерская»;</li>
<li>- станция техобслуживания «Автоцентр «БИКАР»» в пер. Челиева, д. 16;</li>
<li>- бизнес-центр «Нева» на Большеохтинском пр., д. 1; </li>
<li>- офисное здание ОАО «ЛенГазСпецСтрой» на Пулковском ш., д. 30 (система отопления);</li>
<li>- гостиничный комплекс горнолыжного курорта «Красное Озеро» (Ленинградская область);</li>
<li>- супермаркет «ЛЭНД» на В.О., Морская наб., д. 9 (все сантехсистемы);</li>
<li>- супермаркет «ЛЭНД» на пр. Народного Ополчения, д. 6 (все сантехсистемы);</li>
<li>- мебельный центр «Нью-Форм» на В.О., Морская наб., д. 9 (все сантехсистемы);</li>
<li>- фитнес-центр «Фитнес one» в ТЦ «Путиловский» на пр. Народного Ополчения, д. 6;</li>
<li>- административно-складское здание в п. Песочный, ул. Новостроек, д. 87 (все сантехсистемы);</li>
<li>- фитнес-центр Fitness Palace на Конногвардейском бул., д 21а;</li>
<li>- индивидуальные жилые дома и комплексы с бассейнами в Ленинградской области.</li>
			</ul>
			<p class="center"><strong>Гарантируем качество выполнения работ и ответственный подход к делу. <br />Лицензия СПБ № 78-025160, рег. № 06729/2001 от 19.07.2001 г.</strong></p>
